.colorr{
    color: red;
}
.colo{
    background-color: #DB0C64;
}
.textfamily{
    font-family:  monospace;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
  }